<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Exclude the installation script from the redirect
    RewriteCond %{REQUEST_URI} !^/install\.php$
    
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
